<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IChatService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8704/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IChatService1" contract="ServiceReference1.IChatService1"
                name="NetTcpBinding_IChatService1">
                <identity>
                    <userPrincipalName value="DESKTOP-O4OS2VA\kekw" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
